body {
  background-color: grey;
  padding: 0;
  margin: 0;
}
.CombatGraphGrid {
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 0.1fr;
  background-color: greenyellow;
  width: 400px;
  height: 400px;
}
.GameTile {
  width: 10%;
  height: 10%;
  border: 1px solid;
  box-sizing: border-box;
}
.ButtonBox {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: masonry; */
}

.triangle-up {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid;
  border-bottom-color: steelblue;
}

.circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: red;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}
