body {
  background-color: grey;
  margin: auto;
  font-size: 2vw;
}
.CombadModeUI {
  display: grid;
  justify-items: center;
  align-items: center;
  margin: 1vw 1vw 1vw 1vw;
}
.CombatGraphGrid {
  background-color: greenyellow;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 1vw;
  padding: 1vw;
  height: 20vw;
  /* height: 60vw; */
  margin: 1vw 1vw 1vw 1vw;
}
.CombatGridRow {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1vw;
  margin: 1vw 1vw 1vw 1vw;
  font-size: 2vw;
}
.GameTile {
  background-color: green;
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 1vw 1vw 1vw 1vw;
  margin: 1vw 1vw 1vw 1vw;
}
.ComabatConsoleText {
  background-color: azure;
  display: grid;
  justify-items: center;
  align-items: center;
}
.CombatButtonBox {
  background-color: lightblue;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
}
.triangle-up {
  width: 0;
  height: 0;
  border-left: 5vw solid transparent;
  border-right: 5vw solid transparent;
  border-bottom: 10vw solid;
  border-bottom-color: steelblue;
}
.circle {
  height: 10vw;
  width: 10vw;
  border-radius: 50%;
  background-color: red;
}
.TownModeUI {
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: burlywood;
}
.TownMenu {
  display: grid;
  justify-items: center;
  align-items: center;
}
.EquipmentBuyMenu {
  display: grid;
  justify-items: center;
  align-items: center;
}
.EquipmentManageMenu {
  display: grid;
  justify-items: center;
  align-items: center;
}
.ContinueMenuUI {
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: darkgoldenrod;
}
.ContinueMenuButtonBox {
  display: grid;
}
.EquipmentBuyMenuUI {
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: burlywood;
}
.EqpmtBuyBtnBox {
  display: grid;
  justify-items: center;
  align-items: center;
}
.EqpmtBuyMenuText {
  display: grid;
  justify-items: center;
  align-items: center;
}
.EquipmentManageMenuUI {
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: burlywood;
}
.EqpmtMngBtnBox {
  display: grid;
  justify-items: center;
  align-items: center;
}
.EqpmtMngMenuText {
  display: grid;
  justify-items: center;
  align-items: center;
}
.StartMenuUI {
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: darkgrey;
}
.StartButtonBox {
  display: grid;
}
.GameOverUI {
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: black;
  color: white;
}
.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}
